.article-hero {
    position: relative;
    display: flex;
    background-color: $light-grey;
    padding: 2em;

    .article-image {
        width: 35em;
        object-fit: cover; // fixes aspect ratio
    }

    .article-text {
        padding: 2em;
    }

    .author-name {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .drawn-arrow {
        position: absolute;
        width: 17em;
        top: 27em;
        left: 27em;
    }
}



