.article-card {
    background-color: $light-grey;
    padding: 1.3em;
    width: 30em;
    height: 45em;
    margin: 5em 3em;
    position: relative;

    .publish-info {

        p {
            @include roc-standard;
            font-size: 1rem;
        }
        display: flex;
        justify-content: space-between;
        margin-top: 0.5em;
    }

    h6 {
        margin-top: 1em;
        font-size: 2.7rem;
        line-height: 90%;
    }
    
    .arrow {
        width: 1.6em;
    }

    .card-image {
        width: 25em;
    }

    .card-text {
        position: absolute;
        bottom: 1em;
        width: 25em;
    }


    .card-buttons {
        width: 25em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1.2em;
    }
}

.card-carousel {
    display: flex;
    overflow-x: scroll;
  }

  .article-carousel .cards .article-card:first-child{
    margin-left: 6em;
}

.article-carousel {
    padding-top:4em;
}
  

