
.hero-container {
    position: relative;
    width: 100%;
}

.hero {
     @include flexCenter;
     background-image: url(./background-imgs/hero.jpg);
     background-repeat: no-repeat;
     width: 100%;
     height: 50em;
     position: relative;
     overflow: hidden;

    h1, .place-tag {
        position: absolute;
        z-index: 2;
    }

    h1 {
        color: $light-grey;
    }

    .place-tag {
        margin-top: 600px;
        margin-left: 900px;

    }

    .hero-image-surfers {
        width: 100%;
        z-index: 1;
        position: absolute;
        object-fit: cover;
    }

}

.explore-hero {
  background-image: url(./background-imgs/jungle.jpg);
}

.profile-hero {
  background-image: url(./background-imgs/skyline-2.jpg);
}

@media only screen and (min-width: 1955px) {
    .hero {
        background-image: url(./background-imgs/hero-large.jpg);
    }
  }

  .surfer-1{
    animation: floating1 30s;
    animation-iteration-count: infinite;
/*     filter: drop-shadow(1px 5px 5px #12373d); */
  }

  .surfer-2{
    animation: floating2 35s;
    animation-iteration-count: infinite;
/*     filter: drop-shadow(1px 5px 5px #12373d); */
  }

  .surfer-3{
    animation: floating3 32s;
    animation-iteration-count: infinite;
/*     filter: drop-shadow(1px 5px 5px #12373d); */
  }

  .surfer-4{
    animation: floating4 27s;
    animation-iteration-count: infinite;
/*     filter: drop-shadow(1px 5px 5px #1b4c53); */
  }
  
  @keyframes floating1 {
    0% { transform: translate(0px, 30px) rotate(2deg); }

    25% {}

    50% { transform: translate(0px, -30px) rotate(-2deg); }

    100% { transform: translate(0px, 30px) rotate(2deg); }
  }

  @keyframes floating2 {
    0% { transform: translate(-35px, 0px) rotate(-5deg); }

    50% { transform: translate(35px, -0px) rotate(5deg); }

    100% { transform: translate(-35px, 0px) rotate(-5deg); }
  }

  @keyframes floating3 {
    0% { transform: translate(45px, 10px) rotate(2deg); }

    50% { transform: translate(-45px, -10px) rotate(-2deg); }

    100% { transform: translate(45px, 10px) rotate(2deg); }
  }

  @keyframes floating4 {
    0% { transform: translate(-30px, 10px) rotate(-5deg); }

    50% { transform: translate(30px, -10px) rotate(5deg); }

    100% { transform: translate(-30px, 10px) rotate(-5deg); }
  }