.home-search {
    background-color: $light-grey;
    color: $olive;
    padding: 5em;
    text-align: center;

    .search-bar-container {
        display: flex;
        border: 2px solid $olive;        
        margin: 7em auto;
        width: 80%;
        
    
        img {
            width: 3em;
            margin-left: 2em;
        }
    
        .colour-bar {
            border-left: $peach solid 0.5em;
            display: flex;
            width: 100%;
        }
    }

    .button {
        background-color: $peach;
        margin: 0 auto;
    }
}

.search-bar-main {
    @include work-standard;
    font-weight: 200;
    font-size: 3rem;
    padding: 0.5em;
    border: 0;
    margin-left: 0.2em;
    background-color: inherit;
    color: $olive;
    width: 100%;
    
}

