@media screen and (max-width: 599px) {
    
    // Fonts

    p {
        font-size: 1rem;
        line-height: 1.6em;
        hyphens: auto;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 2rem;
        line-height: 90%;
    }

    h5 {
        font-size: 1.3rem;
    }

    h6 {
        font-size: 1.3rem;
    }

    .ticker-tape {
        border-bottom: solid 1px $olive; // Why isn't this changing?
        border-top: solid 1px $olive;

        .ticker-list {
            font-size: 1.5rem;
            animation: ticker 10s infinite linear;
        }
    }

    // Buttons

    .button {
        font-size: 1rem;
        border: 1px solid;
    }


    // Heroes

    .hero {
        height: 20em;

        .hero-image-surfers {
            width: 150%;
        }
    }

    // Page Intro

    .page-intro{
        padding: 3em 1.5em;

        .main-p {
            padding: 0;
            text-align: left;
        }

        img {
            width: 1.7em;
            margin-top: 2em;
        }
    }
}

@media screen and (min-width: 600px) and (max-width: 900px) { 
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 5rem;
    }

    // Heroes

    .hero {
        height: 25em;

        h1 {
            padding: 1em;
        }

        .hero-image-surfers {
            width: 150%;
        }
    }

     // Page Intro

     .page-intro{
        padding: 3em 5em;

        .main-p {
            padding: 0;
        }

        img {
            width: 1.7em;
            margin-top: 2em;
        }
    }
}

@media screen and (min-width: 901px) and (max-width: 1200px) { 

    .hero {
        h1{
            font-size: 9rem;
        }


        .hero-image-surfers {
            width: 150%;
        }
    }

    // Page Intro

    .page-intro{
        padding: 5em 8em;

        .main-p {
            padding: 0;
        }

        img {
            width: 1.7em;
            margin-top: 2em;
        }
    }
}
