@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin roc-standard {
    font-family: roc-grotesk, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
}

@mixin work-standard {
    font-family: work-sans, sans-serif;
    font-weight: 300;
}