nav {
    background-color: $mint;
    color: $olive;
    padding: 1.5em 0;

    .logo {
        width: 14em;
        margin-right: auto;
        margin-left: 4em;
    }
}


.nav-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .nav-links {
        display: flex;
        margin-right: 3em;
    }

    .button {
        margin: 0 0.5em;
        font-size: 1.7rem;
    }
}