.page-intro {
    background-color: $olive;
    padding: 5em;
    display: flex;
    flex-direction: column;
    .intro-text {
        color: $light-grey;
        text-align: center;
        padding: 3em 10em;
    }

    .intro-title {
        color: $light-grey;
        font-size: 8rem;
    }

    .read-more-content {
        padding: 1em 0;
    }

    .short-description {
        margin-bottom: 1em;
    }

    img {
        width: 3em;
        margin: 0 auto;
    }

}

.place-introduction {


    button {
        border: 2px solid $peach;
        background-color: inherit;
        color: $peach;
        margin: 0 auto;
        font-size: 1.2rem;
    }
}

.basic-place-page {

    .place-name {
        margin: 8em 0;
    }

    .wiki-text {
        @include work-standard;
        color: $light-grey;
        text-align: center;
        white-space: pre-wrap;
        padding: 0 5em;

        p {
            margin-top: 1.5em;
        }
    }

    /* Hiding unecessary elements from Wiki API */

    span[title="Representation in the International Phonetic Alphabet (IPA)"] {
        display: none;
    }

    .mw-empty-elt {
        display: none;
    }

    small {
        display: none; 
    }
}