.place-card {
    background-color: $light-grey;
    padding: 1.3em;
    width: 30em;
    height: 40em;
    margin: 5em 3em;
    position: relative;
    
    .arrow {
        width: 1.6em;
    }

    .card-image {
        width: 25em;
    }

    .card-text {
        position: absolute;
        bottom: 1em;
        max-width: 25em;

        .card-name {
            margin-top: 1em;
            font-size: 2.8rem;
        }
    }

    .card-buttons {
        width: 25em;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1.2em;
    }
}

  .cards {
    display: flex;
    align-items: flex-start;
    overflow-x: auto;
  }
  
.scrolling-cards::-webkit-scrollbar,
.cards::-webkit-scrollbar {
    display: none;
}

.card-carousel {
    overflow-x: auto;
    margin-left: -70px;
}

.card-carousel .cards {
    float: left;
    margin-left: 70px;
}


.card-carousel .cards .place-card:first-child{
    margin-left: 6em;
}

.card-carousel .cards:last-child::after {
    content:" ";
    white-space: pre;
    padding-right: 3em;
}

.card-carousel .cards .place-card{
    margin-left: 2em;
}

.place-carousel {
    padding-top:4em;
}

