.where-next {
    padding: 5em;
    width: 100vw;
    background-color: $dark-grey;

    display: flex;
    flex-direction: column;

    .button {
        background-color: $peach;
        margin: 0 auto;
    }
  }
  
  .dropdown-sentence {
    display: flex;
    margin: 7em auto;

    h4 {
      font-size: 4.2rem;
    }
  }
  
  .dd-header-title {
    display: flex;
    align-items: center;
    margin-top: -0.5em;
    border: $olive solid 2px;
    cursor: pointer;
    padding: 0.3em 2.3em;
    background-color: $peach;
    color: $olive;
    img {
        width: 3.5em;
        margin-left: 1.5em;
        margin-top: 1em;
    }
  }
  
  /* Positioning the dropdown content */
  .dd-wrapper {
    position: relative;
    display: inline-block;
    margin-left: 2em;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dd-list {
    display: none;
    position: absolute;
    width: 100%;
    z-index: 100;
    background-color: $light-grey;
    border: $olive solid 2px;
    border-top: none;
    cursor: pointer;

    li { /* Links inside the dropdown */
        font-size: 2.8rem;
        color: $olive;
        text-align: center;
        padding: 0.5em 0.2em;
        text-decoration: none;
        display: block;
        border-bottom: $olive solid 2px;
      }

      li:last-child {
          border-bottom: none;
      }
  }
  
  
  /* Show the dropdown menu on hover */
  .dd-wrapper:hover .dd-list {
    display: block;
  }
  
  .where-next-curated {
    .where-next {
    background-color: $grey;
    }
  }
