@import "./variables";
@import "./utilities";
@import "./mixins";
@import "./nav";
@import "./heroes";
@import "./ticker-tape";
@import "./home-search";
@import "./where-next";
@import "./article-hero";
@import "./place-cards";
@import "./footer";
@import "./page-intro";
@import "./article-cards";
@import "./spotlight";
@import "./profile";
@import "./place-hero";
@import "./key-stats";
@import "./article-page";
@import "./curated-place";
@import "./lists";

body {
    background-color: $dark-grey;
}


h1 {
    font-family: roc-grotesk, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 11rem;
    line-height: 85%;
    text-align: center;
}

h2 {
    font-family: roc-grotesk, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 6.5rem;
    line-height: 85%;
    text-align: left;
}

h3 {
    font-family: work-sans, sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    text-align: center;
}

h4 {
    font-family: work-sans, sans-serif;
    font-weight: 200;
    font-size: 4.5rem;
    text-align: center;
}

h5 {
    @include work-standard;
    font-weight: 200;
    font-size: 2.5rem;
    line-height: 85%;
}

h6 {
    @include roc-standard;
    font-size: 3rem;
    line-height: 2.8rem;
}

p {
    font-size: 1.5rem;
    line-height: 1.5em;
}

/* || Buttons */

.button {
    @include roc-standard;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;

    color: $olive;
    font-size: 2rem;
    line-height: 1em;
    border: 2px solid $olive;
    padding: 0.5em 0.6em 0.3em 0.6em;
    transition: 0.2s;

    &:hover {
        filter: brightness(150%);
    }

    cursor: pointer;

    .arrow-icon {
        width: 0.65em;
        margin-left: 0.6em;
        margin-bottom: 0.1em;
    }

    .star-icon {
        width: 0.7em;
        margin-left: 0.6em;
        margin-bottom: 0.2em;
    }

    .read-icon {
        width: 0.8em;
        margin-left: 0.6em;
        margin-bottom: 0.2em;
    }
}

.save-button {
    font-size: 1.5rem;
    background-color: inherit;
    img {
        width: 0.8em;
        margin-left: 0.6em;
        margin-bottom: 0.2em;
    }
}

.saved-button {
    font-size: 1.5rem;
    background-color: $peach;
    img {
        width: 0.8em;
        margin-left: 0.6em;
        margin-bottom: 0.2em;
    }
}

.small-button {
    font-size: 0.9rem;
    border: 1.5px solid $olive;
}

.delete-button {
    border: 0.09em solid $red;
    color: $red;
    background-color: inherit;
    font-size: 0.9rem;
}

/* || Tags */

.place-tag {
    @include roc-standard;
    font-size: 1.5rem;
    line-height: 1em;
    background-color: $olive;
    color: $light-grey;
    border: 2px solid $light-grey;
    padding: 0.5em 0.9em 0.3em 0.9em;
}


.home-page,
 .profile{
    overflow: hidden;
}

// MEDIA QUERIES

@import "./media-queries";

