body {
  font-family: work-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #3B413C;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #D4D4D4;
}

a {
  text-decoration: none;
  color: inherit;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #7CFF8D;
  padding: 1.2em 0;
}

.nav-container .logo-search {
  margin-right: auto;
  margin-left: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-container .logo-search .logo {
  width: 11em;
}

.nav-container input {
  font-family: work-sans, sans-serif;
  font-weight: 300;
  font-weight: 400;
  font-size: 1rem;
  padding: 0.6em;
  border: 0;
  width: 15em;
  margin-left: 0.5em;
  background-color: inherit;
  color: #3B413C;
}

.nav-container .search-bar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #3B413C;
  margin-left: 3em;
}

.nav-container .search-bar-container img {
  width: 1.3em;
  margin-left: 1em;
}

.nav-container ::-webkit-input-placeholder {
  color: #3B413C;
  opacity: 0.5;
}

.nav-container :-ms-input-placeholder {
  color: #3B413C;
  opacity: 0.5;
}

.nav-container ::-ms-input-placeholder {
  color: #3B413C;
  opacity: 0.5;
}

.nav-container ::placeholder {
  color: #3B413C;
  opacity: 0.5;
}

.nav-container .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 3em;
}

.nav-container .button {
  margin: 0 0.5em;
  font-size: 1.3rem;
}

.hero-container {
  position: relative;
  width: 100%;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(./background-imgs/hero.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 50em;
  position: relative;
  overflow: hidden;
}

.hero h1, .hero .place-tag {
  position: absolute;
  z-index: 2;
}

.hero h1 {
  color: #DEDEDE;
}

.hero .place-tag {
  margin-top: 600px;
  margin-left: 900px;
}

.hero .hero-image-surfers {
  width: 100%;
  z-index: 1;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.explore-hero {
  background-image: url(./background-imgs/jungle.jpg);
  /*   .hero-overlay {
    z-index: 10;
    margin-bottom: 7em;
  } */
}

.profile-hero {
  background-image: url(./background-imgs/desert-hero.jpg);
}

.profile-hero h1 {
  color: #3B413C;
}

@media only screen and (min-width: 1955px) {
  .hero {
    background-image: url(./background-imgs/hero-large.jpg);
  }
}

.surfer-1 {
  -webkit-animation: floating1 30s;
          animation: floating1 30s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.surfer-2 {
  -webkit-animation: floating2 35s;
          animation: floating2 35s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.surfer-3 {
  -webkit-animation: floating3 32s;
          animation: floating3 32s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.surfer-4 {
  -webkit-animation: floating4 27s;
          animation: floating4 27s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes floating1 {
  0% {
    -webkit-transform: translate(0px, 30px) rotate(2deg);
            transform: translate(0px, 30px) rotate(2deg);
  }
  25% {
  }
  50% {
    -webkit-transform: translate(0px, -30px) rotate(-2deg);
            transform: translate(0px, -30px) rotate(-2deg);
  }
  100% {
    -webkit-transform: translate(0px, 30px) rotate(2deg);
            transform: translate(0px, 30px) rotate(2deg);
  }
}

@keyframes floating1 {
  0% {
    -webkit-transform: translate(0px, 30px) rotate(2deg);
            transform: translate(0px, 30px) rotate(2deg);
  }
  25% {
  }
  50% {
    -webkit-transform: translate(0px, -30px) rotate(-2deg);
            transform: translate(0px, -30px) rotate(-2deg);
  }
  100% {
    -webkit-transform: translate(0px, 30px) rotate(2deg);
            transform: translate(0px, 30px) rotate(2deg);
  }
}

@-webkit-keyframes floating2 {
  0% {
    -webkit-transform: translate(-35px, 0px) rotate(-5deg);
            transform: translate(-35px, 0px) rotate(-5deg);
  }
  50% {
    -webkit-transform: translate(35px, 0px) rotate(5deg);
            transform: translate(35px, 0px) rotate(5deg);
  }
  100% {
    -webkit-transform: translate(-35px, 0px) rotate(-5deg);
            transform: translate(-35px, 0px) rotate(-5deg);
  }
}

@keyframes floating2 {
  0% {
    -webkit-transform: translate(-35px, 0px) rotate(-5deg);
            transform: translate(-35px, 0px) rotate(-5deg);
  }
  50% {
    -webkit-transform: translate(35px, 0px) rotate(5deg);
            transform: translate(35px, 0px) rotate(5deg);
  }
  100% {
    -webkit-transform: translate(-35px, 0px) rotate(-5deg);
            transform: translate(-35px, 0px) rotate(-5deg);
  }
}

@-webkit-keyframes floating3 {
  0% {
    -webkit-transform: translate(45px, 10px) rotate(2deg);
            transform: translate(45px, 10px) rotate(2deg);
  }
  50% {
    -webkit-transform: translate(-45px, -10px) rotate(-2deg);
            transform: translate(-45px, -10px) rotate(-2deg);
  }
  100% {
    -webkit-transform: translate(45px, 10px) rotate(2deg);
            transform: translate(45px, 10px) rotate(2deg);
  }
}

@keyframes floating3 {
  0% {
    -webkit-transform: translate(45px, 10px) rotate(2deg);
            transform: translate(45px, 10px) rotate(2deg);
  }
  50% {
    -webkit-transform: translate(-45px, -10px) rotate(-2deg);
            transform: translate(-45px, -10px) rotate(-2deg);
  }
  100% {
    -webkit-transform: translate(45px, 10px) rotate(2deg);
            transform: translate(45px, 10px) rotate(2deg);
  }
}

@-webkit-keyframes floating4 {
  0% {
    -webkit-transform: translate(-30px, 10px) rotate(-5deg);
            transform: translate(-30px, 10px) rotate(-5deg);
  }
  50% {
    -webkit-transform: translate(30px, -10px) rotate(5deg);
            transform: translate(30px, -10px) rotate(5deg);
  }
  100% {
    -webkit-transform: translate(-30px, 10px) rotate(-5deg);
            transform: translate(-30px, 10px) rotate(-5deg);
  }
}

@keyframes floating4 {
  0% {
    -webkit-transform: translate(-30px, 10px) rotate(-5deg);
            transform: translate(-30px, 10px) rotate(-5deg);
  }
  50% {
    -webkit-transform: translate(30px, -10px) rotate(5deg);
            transform: translate(30px, -10px) rotate(5deg);
  }
  100% {
    -webkit-transform: translate(-30px, 10px) rotate(-5deg);
            transform: translate(-30px, 10px) rotate(-5deg);
  }
}

.ticker-parent .ticker-tape {
  font-family: roc-grotesk, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2.5rem;
  white-space: nowrap;
  border-bottom: solid 2px #3B413C;
  border-top: solid 2px #3B413C;
  padding-bottom: 0.2em;
  padding-top: 0.3em;
  margin-bottom: 0px;
  overflow: hidden;
  width: 100vw;
  background-color: #FF917D;
}

.ticker-parent .ticker-tape .ticker-list {
  -webkit-animation: ticker 20s infinite linear;
          animation: ticker 20s infinite linear;
  color: #3B413C;
}

.ticker-parent .ticker-tape .ticker-list img {
  width: 0.9em;
  margin-left: 0.6em;
  margin-right: 0.5em;
}

@-webkit-keyframes ticker {
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes ticker {
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.home-search {
  background-color: #DEDEDE;
  color: #3B413C;
  padding: 5em;
  text-align: center;
}

.home-search .search-bar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #3B413C;
  margin: 7em auto;
  width: 80%;
}

.home-search .search-bar-container img {
  width: 3em;
  margin-left: 2em;
}

.home-search .search-bar-container .colour-bar {
  border-left: #FF917D solid 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.home-search .button {
  background-color: #FF917D;
  margin: 0 auto;
}

.search-bar-main {
  font-family: work-sans, sans-serif;
  font-weight: 300;
  font-weight: 200;
  font-size: 3rem;
  padding: 0.5em;
  border: 0;
  margin-left: 0.2em;
  background-color: inherit;
  color: #3B413C;
  width: 100%;
}

.where-next {
  padding: 5em;
  width: 100vw;
  background-color: #C0C0C0;
}

.where-next .button {
  background-color: #FF917D;
  margin: 0 auto;
}

.dropdown-sentence {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 7em auto;
}

.dd-header-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -0.5em;
  border: #3B413C solid 2px;
  cursor: pointer;
  padding: 0.3em 2.3em;
  background-color: #FF917D;
  color: #3B413C;
}

.dd-header-title img {
  width: 3.5em;
  margin-left: 1.5em;
  margin-top: 1em;
}

/* Positioning the dropdown content */
.dd-wrapper {
  position: relative;
  display: inline-block;
  margin-left: 2em;
}

/* Dropdown Content (Hidden by Default) */
.dd-list {
  display: none;
  position: absolute;
  width: 100%;
  z-index: 1;
  background-color: #DEDEDE;
  border: #3B413C solid 2px;
  border-top: none;
  cursor: pointer;
}

.dd-list li {
  /* Links inside the dropdown */
  font-size: 2.8rem;
  color: #3B413C;
  text-align: center;
  padding: 0.5em 0.2em;
  text-decoration: none;
  display: block;
  border-bottom: #3B413C solid 2px;
}

.dd-list li:last-child {
  border-bottom: none;
}

/* Show the dropdown menu on hover */
.dd-wrapper:hover .dd-list {
  display: block;
}

.where-next-curated .where-next {
  background-color: #D4D4D4;
}

.article-hero {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #DEDEDE;
  padding: 2em;
}

.article-hero .article-image {
  width: 35em;
  -o-object-fit: cover;
     object-fit: cover;
}

.article-hero .article-text {
  padding: 2em;
}

.article-hero .author-name {
  margin-top: 1em;
  margin-bottom: 1em;
}

.article-hero .drawn-arrow {
  position: absolute;
  width: 17em;
  top: 27em;
  left: 27em;
}

.place-carousel {
  background-color: #C0C0C0;
  padding: 5em;
}

.place-card {
  background-color: #DEDEDE;
  padding: 1.3em;
  width: 30em;
  height: 40em;
  margin: 5em 3em;
  position: relative;
}

.place-card .arrow {
  width: 1.6em;
}

.place-card .card-image {
  width: 25em;
}

.place-card .card-text {
  position: absolute;
  bottom: 1em;
  max-width: 25em;
}

.place-card .card-text .card-name {
  margin-top: 1em;
  font-size: 2.8rem;
}

.place-card .card-buttons {
  width: 25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.2em;
}

.card-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
}

.footer {
  background-color: #7CFF8D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2em;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer .logo {
  width: 20em;
}

.footer .globe {
  width: 4em;
  margin-left: auto;
}

.footer .logo__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .links {
  margin-left: 2.5em;
}

.footer .links .link {
  margin-top: 0.8em;
}

.footer h6 {
  font-size: 2.1rem;
}

.page-intro {
  background-color: #3B413C;
  padding: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page-intro .intro-text {
  color: #DEDEDE;
  text-align: center;
  padding: 3em 10em;
}

.page-intro .intro-title {
  color: #DEDEDE;
  font-size: 8rem;
}

.page-intro .read-more-content {
  padding: 1em 0;
}

.page-intro .short-description {
  margin-bottom: 1em;
}

.page-intro img {
  width: 3em;
  margin: 0 auto;
}

.place-introduction button {
  border: 2px solid #FF917D;
  background-color: inherit;
  color: #FF917D;
  margin: 0 auto;
  font-size: 1.2rem;
}

.basic-place-page {
  /* Hiding unecessary elements from Wiki API */
}

.basic-place-page .place-name {
  margin: 8em 0;
}

.basic-place-page .wiki-text {
  font-family: work-sans, sans-serif;
  font-weight: 300;
  color: #DEDEDE;
  text-align: center;
  white-space: pre-wrap;
  padding: 0 5em;
}

.basic-place-page .wiki-text p {
  margin-top: 1.5em;
}

.basic-place-page span[title="Representation in the International Phonetic Alphabet (IPA)"] {
  display: none;
}

.basic-place-page .mw-empty-elt {
  display: none;
}

.basic-place-page small {
  display: none;
}

.article-carousel {
  background-color: #C0C0C0;
  padding: 5em;
}

.article-card {
  background-color: #DEDEDE;
  padding: 1.3em;
  width: 30em;
  height: 45em;
  margin: 5em 3em;
  position: relative;
}

.article-card .publish-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 0.5em;
}

.article-card .publish-info p {
  font-family: roc-grotesk, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1rem;
}

.article-card h6 {
  margin-top: 1em;
  font-size: 2.7rem;
  line-height: 90%;
}

.article-card .arrow {
  width: 1.6em;
}

.article-card .card-image {
  width: 25em;
}

.article-card .card-text {
  position: absolute;
  bottom: 1em;
}

.article-card .card-buttons {
  width: 25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.2em;
}

.card-carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-x: scroll;
}

.spotlight-container {
  background-color: #3B413C;
  color: #D4D4D4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.spotlight-container .spotlight-image {
  width: 40%;
}

.spotlight-container .spotlight-text {
  padding: 5em;
}

.spotlight-container .spotlight-text h5 {
  font-size: 2rem;
}

.spotlight-container .spotlight-text h6 {
  font-size: 5rem;
  line-height: 90%;
  text-align: left;
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

.spotlight-container .spotlight-text p {
  margin-left: 2.3em;
}

.spotlight-container .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 5em;
}

.spotlight-container .save-button {
  color: #D4D4D4;
  border: 0.09em solid #D4D4D4;
  font-size: 1.3rem;
}

.spotlight-container .saved-button {
  border: 0.09em solid #FF917D;
  font-size: 1.3rem;
}

.spotlight-container .see-more-button {
  background-color: inherit;
  color: #D4D4D4;
  border: 0.09em solid #D4D4D4;
  font-size: 1.3rem;
  margin-right: 10em;
}

.spotlight-container .see-more-button img {
  width: 0.8em;
  margin-left: 0.6em;
  margin-bottom: 0.2em;
}

.place-card-grid,
.list-grid {
  background-color: #D4D4D4;
  overflow: hidden;
  padding: 5em;
}

.place-card-grid .intro__button,
.list-grid .intro__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.place-card-grid .intro__button button,
.list-grid .intro__button button {
  background-color: #FF917D;
  font-size: 1.5rem;
}

.place-card-grid .my-places-introduction,
.place-card-grid .my-lists-introduction,
.list-grid .my-places-introduction,
.list-grid .my-lists-introduction {
  max-width: 50%;
  margin-top: 1em;
}

.place-card-grid .place-cards,
.place-card-grid .list-cards,
.list-grid .place-cards,
.list-grid .list-cards {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: (minmax(22em, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(22em, 1fr));
  grid-gap: 0.75rem;
  /* To define the gap between rows/columns */
  gap: 0.75rem;
  padding: 0.75rem;
}

.place-card-grid .my-place-card,
.place-card-grid .list-card,
.list-grid .my-place-card,
.list-grid .list-card {
  background-color: #DEDEDE;
  padding: 1.3em;
  width: 22em;
  height: 32em;
  margin-top: 3em;
  position: relative;
}

.place-card-grid .my-place-card h6,
.place-card-grid .list-card h6,
.list-grid .my-place-card h6,
.list-grid .list-card h6 {
  margin-top: 1em;
  font-size: 2.3rem;
  line-height: 1em;
}

.place-card-grid .my-place-card .arrow,
.place-card-grid .list-card .arrow,
.list-grid .my-place-card .arrow,
.list-grid .list-card .arrow {
  width: 1.6em;
}

.place-card-grid .my-place-card .card-image,
.place-card-grid .list-card .card-image,
.list-grid .my-place-card .card-image,
.list-grid .list-card .card-image {
  width: 19.4em;
}

.place-card-grid .my-place-card .card-text,
.place-card-grid .list-card .card-text,
.list-grid .my-place-card .card-text,
.list-grid .list-card .card-text {
  position: absolute;
  bottom: 1em;
}

.place-card-grid .my-place-card .card-buttons,
.place-card-grid .list-card .card-buttons,
.list-grid .my-place-card .card-buttons,
.list-grid .list-card .card-buttons {
  width: 19em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1.2em;
}

.place-card-grid .article-card,
.list-grid .article-card {
  width: 22em;
}

.place-card-grid .article-card .card-image, .place-card-grid .article-card .card-buttons, .place-card-grid .article-card .card-text,
.list-grid .article-card .card-image,
.list-grid .article-card .card-buttons,
.list-grid .article-card .card-text {
  width: 19.4em;
}

.list-card-container .list-card {
  background-color: #C0C0C0;
  height: 17em;
}

.list-card-container .list-card h6 {
  color: #3B413C;
  margin-top: 0;
}

.list-card-container .list-card .card-buttons {
  position: absolute;
  bottom: 1em;
}

.list-grid {
  background-color: #3B413C;
  color: #D4D4D4;
}

.grey-background {
  background-color: #C0C0C0;
}

.place-hero {
  background-color: #D4D4D4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.place-hero .text-container {
  padding: 3em;
  width: 50%;
}

.place-hero .place-name {
  font-size: 5rem;
  line-height: 80%;
  text-align: left;
}

.place-hero .text-content {
  margin-left: 3em;
  margin-top: 2em;
}

.place-hero .text-content .place-intro {
  width: 80%;
}

.place-hero .place-hero-image {
  width: 50%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}

.place-hero .weather-block {
  margin-top: 4em;
}

.place-hero td {
  font-family: roc-grotesk, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5rem;
  text-align: center;
  border: 0.1em solid #3B413C;
  padding: 0.3em 0.7em 0.2em 0.7em;
}

.place-hero td p {
  font-size: inherit;
}

.place-hero table, .place-hero td {
  border-collapse: collapse;
}

.weather-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.key-stats {
  background-color: #D4D4D4;
  padding: 5em;
  text-align: center;
}

.key-stats .globe-icon {
  width: 4em;
  margin-top: 3em;
}

.key-stats h2 {
  text-align: center;
  font-size: 4rem;
  margin-top: 0.8em;
}

.key-stats h2 .highlighted {
  color: #FF917D;
}

.article-page {
  background-color: #D4D4D4;
}

.article-page .arrow {
  width: 13em;
  position: absolute;
  margin-top: 15%;
  margin-left: 5%;
}

.article-page .article-page-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #3B413C;
  color: #D4D4D4;
  padding-bottom: 5em;
}

.article-page .article-page-title {
  text-align: center;
  max-width: 70%;
  margin: 1em auto 0.5em auto;
}

.article-page .name__save {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.article-page .name__save .saved-button {
  border: 2px solid #FF917D;
}

.article-page .name__save .save-button {
  border: 2px solid #D4D4D4;
  color: #D4D4D4;
}

.article-page .name__save .author-name {
  font-size: 2rem;
  margin-right: 3em;
}

.article-page .article-page-content {
  padding: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.article-page .p-content {
  max-width: 45em;
}

.article-page .p-content p {
  margin-top: 1.5em;
  margin-right: 2.5em;
}

.article-page .text__image-left,
.article-page .text__image-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article-page .text__image-right {
  margin-top: 3em;
}

.article-page .text__image-right .article-image {
  margin-right: 4em;
}

.article-page .article-image {
  width: 40%;
  height: 40%;
  margin-top: 15%;
}

.case-study-container {
  color: #3B413C;
}

.case-study-container .spotlight-container:nth-child(odd) {
  background-color: #D4D4D4;
  color: #3B413C;
}

.case-study-container .spotlight-container:nth-child(odd) button {
  color: #3B413C;
  border: 2px solid #3B413C;
}

.case-study-container .spotlight-container:nth-child(even) {
  background-color: #C0C0C0;
  color: #3B413C;
}

.case-study-container .spotlight-container:nth-child(even) button {
  color: #3B413C;
  border: 2px solid #3B413C;
}

.case-study-container .spotlight-container:nth-child(even) .spotlight-image {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.case-study-container .spotlight-container:nth-child(even) .spotlight-text {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.list-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*     justify-content: flex-start; */
  width: 38em;
  min-height: 50em;
  background: #D4D4D4;
  text-align: center;
  margin: 128px auto;
  padding-bottom: 32px;
  border: 2px solid #3B413C;
}

.list-title {
  font-family: roc-grotesk, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  font-size: 2.3rem;
  color: #3B413C;
  background-color: #FF917D;
  border: none;
  border-bottom: 2px solid #3B413C;
  padding: 0.1em 0.5em 0 0.5em;
}

.list-items h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.list-form {
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2em;
  margin: 0 auto;
}

.list-input {
  font-family: work-sans, sans-serif;
  font-weight: 300;
  font-size: 1.2em;
  padding: 0.6em 1em 0.6em 0.6em;
  border: 2px solid #3B413C;
  outline: none;
  width: 17em;
  background: transparent;
  color: #3B413C;
  margin-right: 1em;
}

.list-input::-webkit-input-placeholder {
  color: #3B413C;
  opacity: 0.4;
}

.list-input:-ms-input-placeholder {
  color: #3B413C;
  opacity: 0.4;
}

.list-input::-ms-input-placeholder {
  color: #3B413C;
  opacity: 0.4;
}

.list-input::placeholder {
  color: #3B413C;
  opacity: 0.4;
}

.list-button {
  cursor: pointer;
  outline: none;
  background: #FF917D;
  color: #3B413C;
}

.list-button p {
  font-size: 1.2rem;
}

.list-button .button-icon {
  width: 0.5em;
  margin-left: 0.3em;
  margin-bottom: 0.1em;
}

.return-button {
  margin: 0 auto;
  margin-top: 2em;
  height: 1.5em;
  background-color: inherit;
}

.return-button p {
  font-size: 1.2rem;
}

.return-button .button-icon {
  width: 0.5em;
  margin-left: 0.4em;
  margin-bottom: 0.1em;
}

.list-input.edit {
  border: 2px solid #3B413C;
}

.list-button.edit {
  border: 2px solid #3B413C;
  background-color: #FF917D;
  padding: 0.1em 0.5em 0 0.5em;
}

/*   .list-container {
    display: flex;
    flex-direction: row;
    position: relative;
  } */
.listItem-row {
  font-size: 1.5rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0.5em auto;
  color: #3B413C;
  border: 2px solid #3B413C;
  background: inherit;
  padding: 0.8em;
  width: 90%;
}

.colour-bar {
  border-left: #FF917D solid 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.icons button {
  border: 2px solid #B46766;
  font-size: 0.9rem;
  background-color: inherit;
}

.icons .delete-icon {
  margin-right: 0.5em;
  color: #B46766;
}

.icons .delete-icon .cross-icon {
  width: 0.7em;
  margin-left: 0.4em;
  margin-bottom: 0.1em;
}

.icons .edit-icon {
  border: 2px solid #3B413C;
  color: #3B413C;
  margin-right: 1em;
}

.icons .edit-icon .arrow-icon {
  width: 1.05em;
}

body {
  background-color: #C0C0C0;
}

h1 {
  font-family: roc-grotesk, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 11rem;
  line-height: 9rem;
  text-align: center;
}

h2 {
  font-family: roc-grotesk, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 6.5rem;
  line-height: 5.5rem;
  text-align: left;
}

h3 {
  font-family: work-sans, sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
}

h4 {
  font-family: work-sans, sans-serif;
  font-weight: 200;
  font-size: 4.5rem;
  text-align: center;
}

h5 {
  font-family: work-sans, sans-serif;
  font-weight: 300;
  font-weight: 200;
  font-size: 2.5rem;
}

h6 {
  font-family: roc-grotesk, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 3rem;
  line-height: 2.8rem;
}

p {
  font-size: 1.5rem;
  line-height: 1.5em;
}

/* || Buttons */
.button {
  font-family: roc-grotesk, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3B413C;
  font-size: 2rem;
  line-height: 1em;
  border: 2px solid #3B413C;
  padding: 0.5em 0.6em 0.3em 0.6em;
  cursor: pointer;
}

.button .arrow-icon {
  width: 0.65em;
  margin-left: 0.6em;
  margin-bottom: 0.1em;
}

.button .star-icon {
  width: 0.7em;
  margin-left: 0.6em;
  margin-bottom: 0.2em;
}

.button .read-icon {
  width: 0.8em;
  margin-left: 0.6em;
  margin-bottom: 0.2em;
}

.save-button {
  font-size: 1.5rem;
  background-color: inherit;
}

.save-button img {
  width: 0.8em;
  margin-left: 0.6em;
  margin-bottom: 0.2em;
}

.saved-button {
  font-size: 1.5rem;
  background-color: #FF917D;
}

.saved-button img {
  width: 0.8em;
  margin-left: 0.6em;
  margin-bottom: 0.2em;
}

.small-button {
  font-size: 0.9rem;
  border: 1.5px solid #3B413C;
}

.delete-button {
  border: 0.09em solid #B46766;
  color: #B46766;
  background-color: inherit;
  font-size: 0.9rem;
}

/* || Tags */
.place-tag {
  font-family: roc-grotesk, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1em;
  background-color: #3B413C;
  color: #DEDEDE;
  border: 2px solid #DEDEDE;
  padding: 0.5em 0.9em 0.3em 0.9em;
}
/*# sourceMappingURL=sitewide.css.map */