* {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}

body {
  font-family: work-sans, sans-serif;
  font-weight: 300;
  font-style: normal;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #7CFF8D;
  padding: 1.5em 0;
}

.nav-container .logo-search {
  margin-right: auto;
  margin-left: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-container .logo-search .logo {
  width: 14em;
}

.nav-container input {
  font-family: work-sans, sans-serif;
  font-weight: 300;
  font-weight: 400;
  font-size: 1.3rem;
  padding: 0.6em;
  border: 0;
  width: 15em;
  margin-left: 0.5em;
  background-color: inherit;
  color: #3B413C;
}

.nav-container .search-bar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #3B413C;
  margin-left: 3em;
}

.nav-container .search-bar-container img {
  width: 1.3em;
  margin-left: 1em;
}

.nav-container ::-webkit-input-placeholder {
  color: #3B413C;
  opacity: 0.5;
}

.nav-container :-ms-input-placeholder {
  color: #3B413C;
  opacity: 0.5;
}

.nav-container ::-ms-input-placeholder {
  color: #3B413C;
  opacity: 0.5;
}

.nav-container ::placeholder {
  color: #3B413C;
  opacity: 0.5;
}

.nav-container .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 3em;
}

.nav-container .button {
  margin: 0 0.5em;
  font-size: 1.7rem;
}

.hero-container {
  position: relative;
  width: 100%;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(./background-imgs/hero.jpg);
  background-repeat: no-repeat;
  width: 100%;
  height: 50em;
  position: relative;
  overflow: hidden;
}

.hero h1, .hero .place-tag {
  position: absolute;
  z-index: 2;
}

.hero h1 {
  color: #DEDEDE;
}

.hero .place-tag {
  margin-top: 600px;
  margin-left: 900px;
}

.hero .hero-image-surfers {
  width: 60%;
  z-index: 1;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (min-width: 1955px) {
  .hero {
    background-image: url(./background-imgs/hero-large.jpg);
  }
}

.ticker-parent .ticker-tape {
  font-family: roc-grotesk, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 2.5rem;
  white-space: nowrap;
  border-bottom: solid 2px #3B413C;
  border-top: solid 2px #3B413C;
  padding-bottom: 0.2em;
  padding-top: 0.3em;
  margin-bottom: 0px;
  overflow: hidden;
  width: 100vw;
  background-color: #FF917D;
}

.ticker-parent .ticker-tape .ticker-list {
  -webkit-animation: ticker 20s infinite linear;
          animation: ticker 20s infinite linear;
  color: #3B413C;
}

.ticker-parent .ticker-tape .ticker-list img {
  width: 0.9em;
  margin-left: 0.6em;
  margin-right: 0.5em;
}

@-webkit-keyframes ticker {
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

@keyframes ticker {
  100% {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.home-search {
  background-color: #DEDEDE;
  color: #3B413C;
  padding: 5em;
  text-align: center;
}

.home-search .button {
  background-color: #FF917D;
  margin: 0 auto;
}

.search-bar-main {
  font-family: work-sans, sans-serif;
  font-weight: 300;
  font-weight: 200;
  font-size: 3rem;
  padding: 0.5em;
  border: 0;
  width: 100%;
  margin-left: 0.5em;
  background-color: inherit;
  color: #3B413C;
}

.search-bar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 2px solid #3B413C;
  margin: 0 auto;
  width: 80%;
}

.search-bar-container img {
  width: 1.3em;
  margin-left: 1em;
}

h1 {
  font-family: roc-grotesk, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 11rem;
  line-height: 9rem;
  text-align: center;
}

h2 {
  font-family: roc-grotesk, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 8rem;
  line-height: 6rem;
  text-align: center;
}

h3 {
  font-family: work-sans, sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  text-align: center;
}

/* || Buttons */
.button {
  font-family: roc-grotesk, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3B413C;
  font-size: 2rem;
  line-height: 1em;
  border: 2px solid #3B413C;
  padding: 0.5em 0.6em 0.3em 0.6em;
}

.button .arrow-icon {
  width: 0.65em;
  margin-left: 0.6em;
  margin-bottom: 0.1em;
}

.button .star-icon {
  width: 0.7em;
  margin-left: 0.6em;
  margin-bottom: 0.2em;
}

/* || Tags */
.place-tag {
  font-family: roc-grotesk, sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1em;
  background-color: #3B413C;
  color: #DEDEDE;
  border: 2px solid #DEDEDE;
  padding: 0.5em 0.9em 0.3em 0.9em;
}
/*# sourceMappingURL=sitewide.css.map */