@import "./utilities";
@import "./mixins";
@import "./variables";
@import "./nav";
@import "./heroes";
@import "./ticker-tape";
@import "./home-search";
@import "./where-next";

h1 {
    font-family: roc-grotesk, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 11rem;
    line-height: 9rem;
    text-align: center;
}

h2 {
    font-family: roc-grotesk, sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 8rem;
    line-height: 6rem;
    text-align: center;
}

h3 {
    font-family: work-sans, sans-serif;
    font-weight: 500;
    font-size: 2.5rem;
    text-align: center;
}

h4 {
    font-family: work-sans, sans-serif;
    font-weight: 200;
    font-size: 5.5rem;
    text-align: center;
}

/* || Buttons */

.button {
    @include roc-standard;
    display: flex;
    justify-content: center;
    align-items: center;

    color: $olive;
    font-size: 2rem;
    line-height: 1em;
    border: 2px solid $olive;
    padding: 0.5em 0.6em 0.3em 0.6em;

    .arrow-icon {
        width: 0.65em;
        margin-left: 0.6em;
        margin-bottom: 0.1em;
    }

    .star-icon {
        width: 0.7em;
        margin-left: 0.6em;
        margin-bottom: 0.2em;
    }
}

/* || Tags */

.place-tag {
    @include roc-standard;
    font-size: 1.5rem;
    line-height: 1em;
    background-color: $olive;
    color: $light-grey;
    border: 2px solid $light-grey;
    padding: 0.5em 0.9em 0.3em 0.9em;
}


