/* Hero */

.hero img {
  position: relative;
  z-index: -1;
  width: 100vw;
}

.hero h1, .hero .img-caption {
  position: absolute;
  z-index: 1;
}

.hero h1 {
  text-align: center;
  top: 250px;
  left: 250px;
}

.hero .img-caption {
  bottom: 100px;
  left: 30px;
}


/* Home Search */

.home-search {
  width: 100vw;
  background-color: pink;
}

.home-search h2 {
  margin-top: 50px;
  text-transform: uppercase;
  text-align: center;
}

.home-search h1 {
  text-align: center;
  margin-top: 50px;
}

.home-search .search-bar-main {
  margin-left: 270px;
  margin-top: 60px;
  margin-bottom: 60px;

  width: 800px;
  padding: 20px 50px;
  font-size: 50px;
}

.home-search .go {
  font-size: 40px;
  padding: 20px;
  margin-top: 0;
  margin-left: 550px;
  margin-bottom: 60px;
}




/* ARTICLE HERO */

.article-hero {
  display: flex;
  width: 100vw;
  background-color: pink;
}

.article-name {
  font-size: 100px;
}

.article-hero .article-image {
  width: 700px;
}

.article-text {
  margin-left: 50px;
  margin-top: 60px;
}

.tags {
  margin-top: 70px;
  display: flex;
}

.reading-list-icon {
  width: 30px;
  margin-left: 50px;
  cursor: pointer;
}

.reading-list-icon-selected {
  width: 30px;
  margin-left: 50px;
  background-color: red;
  cursor: pointer;
}

.content-tag {
  font-size: 20px;
  text-transform: uppercase;
  padding: 10px;
  background-color: white;
  border-radius: 15px;
  width: fit-content;
}


/* ARTICLE CAROUSEL */

.place-carousel {
  display: flex;
  background-color: rgb(236, 251, 255);
}

.place-card {
  margin: 100px;
  overflow-x: hidden;
}

.place-card img {
  width: 500px;
  position: relative;
}

.card-caption {
  z-index: 2;
  position: absolute;
  width: 460px;
  padding: 10px;
  margin-top: 300px;
  font-size: 20px;
}

.card-bottom {
  display: flex;
  border: solid 2px grey;
  padding: 20px;
  width: 460px;
}

.place-card .card-name {
  font-size: 30px;
}

.card-bottom img {
  width: 30px;
  margin-left: 200px;
}

.place-like-icon-selected {
  background-color: red;
}
