.home-search {
    background-color: pink;
}

* {
    padding: 0;
    margin: 0;
  }
  
  .container {
    height: 100vh;
    width: 100vw;
    display: grid;
  }
  
  .hero {
    grid-row: 1;
  }
  
  .home-search {
    grid-row: 2;
  }

  .home-dropdown {
      grid-row: 3;
  }